button.container {
    width: 100%;
    height: 3rem;

    background-color: var(--color-dark-green);

    border: none;
    border-radius: .5rem;
}

a.link {
    font-size: 1.2rem;
    font-weight: bold;
}